<h3>Vos informations ont été mises à jour ! </h3>

<p>Vos idendifiants de connexion : </p>
<ul>
    <li> Nom d'utilisateur : <strong>{{ user.username }}</strong></li>
    <li> Mot de passe : <strong>{{ user.password }}</strong> </li>
</ul>
<p>Vos autres informations : </p>
<ul>
    <li>Email : <strong>{{ user.email }}</strong></li>
    <li> Role : <strong>{{ user.formRoles }}</strong> </li>
</ul>

<p>Merci !</p>
<p><b>ToDo & Co team</b></p>
